*{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 
            "head head head"
            "main main sidebar"
            "foot foot foot";
}